# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

.target/

# Mac
.DS_Store

# Windwos
Thumbs.db

# Maven
log/
target/

#self
non-normalized-tagclouds/*
normalized-tagclouds/*
documents/*
term-frequencies/*
inverse-document-frequencies/*
single-tf-idf/*
all-tf-idf/*
