<html lang="de" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Tag Clouds</title>
</head>

<body>

<div th:if="${message}">
    <h2 th:text="${message}"></h2>
</div>

<div>
    <h3>Dokument hochladen</h3>
    <form action="/upload" enctype="multipart/form-data" method="POST">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input name="file" type="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>

<div>
    <h3>Nicht normalisierte Tag Clouds</h3>
    <ul>
        <li th:each="file : ${nonNormalizedTagClouds}">
            <a th:href="${nonNormalizedTagCloudsPath + file}" th:text="${file}" th:target="_blank"></a>
        </li>
    </ul>
</div>

<div>
    <h3>Normalisierte Tag Clouds</h3>
    <ul>
        <li th:each="file : ${normalizedTagClouds}">
            <a th:href="${normalizedTagCloudsPath + file}" th:text="${file}" th:target="_blank"></a>
        </li>
    </ul>
</div>

</body>
</html>